body{
    background-color: #889adb;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #996a6a;
    background: rgb(196, 141, 141);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(197, 160, 160, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(85, 56, 56);
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #092cdd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #06637a;
    border: 1px solid #28b3d9;
}

#submit_inscription{
    background-color: #0C7DC3;
}

#submit_inscription:hover{
    background-color: white;
    color: #0C7DC3;
    border: 1px solid #0C7DC3;
}